.modal{
  position: relative;
}

.modal_background{
  position: absolute;
  top: -9vh;
  left: 28.5vw;
  z-index: 2;
  background-color: #ffffff;
  width: 50vw;
  height: 85vh;
  border: 1px solid black;
}

.modal_close {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px 30px 0px;
  font-size: 26px;
  
}

.button{
  width: 42vw;
}

.buttonmain{
  display: flex;
  justify-content: center;
}

#map{
  margin: 0 auto;
}